@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Healthcare data visualization for UK!</h2>
    <p class="lead">This website helps personnel in General Practices and Clinical Commissioning Groups to understand and discover prescription costs. 
    It provides intuitive way to visualize the data from several data sources.
    A user can search a GP or CCG to view it's profiles or add it to a focus group for analysing the prescription costs.</p>
    <p>
        
    </p>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group  input-group-lg">
            <input type="text" class="form-control"  style="width:100%" placeholder="Search for a General Practise or a Clinical Commissioning Group">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search</button>
            </span>
        </div>
    </div>
</div>